.castItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 100px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.castDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.realName {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.character {
  font-size: 0.875rem;
  color: #555;
}

[data-theme="dark"] .realName {
  color: #8f7777;
}
[data-theme="dark"] .character {
  color: #8f7777;
}
