[data-theme="dark"] .moviesListItem {
  background: #1e1e1e;
  color: #331313;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] .moviesListItem:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(255, 0, 0, 0.7);
}

.posterWrapper {
  position: relative;
}

.favBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: blue;
}

.img {
  width: 230px;
}

[data-theme="dark"] .h4 {
  color: lightblue;
}

[data-theme="dark"] .favBtn {
  color: #96680c;
}

[data-theme="dark"] .img {
  filter: brightness(0.8);
}
