.searchHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.searchField {
  width: 100%;
  padding: 10px 40px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

[data-theme="dark"] .searchField {
  background-color: inherit;
}

.searchField:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.searchBtn {
  position: absolute;
  top: -2px;
  left: 2px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
}

[data-theme="dark"] .searchBtn {
  color: #5b6672;
}
[data-theme="dark"] .searchBtn:hover {
  color: red;
}

.searchBtn:hover {
  color: #0056b3;
}

.searchBtn:focus {
  outline: none;
}
