#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navigation {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .navigation {
  background-color: yellow;
}

.navLink {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.navLink:hover,
.navLink.active {
  color: #007bff;
  background-color: #e9ecef;
}

.activeLink {
  color: #007bff;
  background-color: #e9ecef;
}

.navLink::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s;
}

.navLink:hover::after,
.navLink.active::after {
  width: 100%;
}
