:root {
  line-height: 1.5;
  font-weight: 400;
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #6200ea;
}

body {
  font-family: "Raleway", monospace;
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

[data-theme="dark"] {
  --background-color: #181818;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
}
