.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 1px solid blue;
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  box-shadow: none;
}

.grFormNext {
  font-size: 40px;
  color: red;
}
