.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(232, 148, 73);
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(152, 12, 12, 0.5);
  outline: none;
}
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(232, 148, 73);
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(152, 12, 12, 0.5);
  outline: none;
}

.button2:hover {
  transform: translateX(10px);
}
.button1:hover {
  transform: translateX(-10px);
}

.button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  box-shadow: none;
}

.grFormNext {
  font-size: 30px;
  color: blue;
}

.grFormPrevious {
  font-size: 30px;
  color: blue;
}

[data-theme="dark"] .grFormPrevious {
  color: red;
}
[data-theme="dark"] .grFormNext {
  color: red;
}
